<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
  
      <div class="projects" *ngIf="projectList">
        <table class="table">
          <thead class="h">
            <tr class="h">
              <th class="h">Project Name</th>
            </tr>
          </thead>
          <tbody>
          
            <tr class="project" (dblclick)="editProject(project)" *ngFor="let project of projectList">
  
              <ng-container *ngIf="!editProjects.includes(project); else editProj">
                <td>{{project.projectName}}</td>
              </ng-container>

              <ng-template #editProj>
                <td><input type="text" name="projectName" id="projectName" (keypress)="submitProject($event, project)" [(ngModel)]="project.projectName" placeholder="Project Name" class="form-control"></td>
              </ng-template>
                           
              <td class="o">
                <button class="btn btn-primary" (click)="editProject(project)">
                    <i  class="fa fa-pencil"></i>
                  </button>
                <button class="btn btn-danger" (click)="deleteProject(project)">
                    <i  class="fa fa-trash"></i>
                  </button>
              </td>
  
            </tr>
          </tbody>
        </table>
      </div>
      <form>
        <div class="form-row">
  
          <div class="col-md-5">
            <input type="text" name="projectName" id="projectName" [(ngModel)]="newProject.projectName" placeholder="Project Name" class="form-control">
          </div>
          <div class="col-md-2">
            <button type="submit" class="btn btn-primary" (click)="create()">Add</button>
          </div>
        </div>
      </form>
  </div>
  <div class="col-md-2">
    
  </div>
</div>

